# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Logs
*.log

# Project-specific large artifacts
data/*
!data/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

models/*
!models/.gitkeep

shap_outputs/*
!shap_outputs/.gitkeep

llm_outputs/*
!llm_outputs/.gitkeep
