
__pycache__/
*.py[cod]
*.pkl
*.pickle

.venv/
env/
venv/

.ipynb_checkpoints/
notebooks_outputs/

# data and models: keep folder, ignore contents
data/*
!data/.gitkeep

models/*
!models/.gitkeep

shap_outputs/*
!shap_outputs/.gitkeep

llm_outputs/*
!llm_outputs/.gitkeep

.DS_Store
*.log

dist/
build/
